body > div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
h1#title {
    color: #000000;
    font-family: 'Marcellus SC', Times, serif;
    font-size: 60px;
    letter-spacing: 0.6em;
    text-align: center;
    padding-top: 20px;
    padding-left: 0.7em;
    font-weight: 500;
    line-height: 1.1;
}

h2 {
  padding-top: 30px;
  font-size:25px;
  font-weight: 400;
  border-style: none none solid none;
  border-width: 0.05em;
  border-color: #e7e7e7;
  font-variant: small-cap;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

/* The "show" class is added to the filtered elements */
.table td, .table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.matches tbody>tr>:nth-child(1){ 
    text-align: right;
}

.matches tbody>tr>:nth-child(2){ 
    text-align: right;
}

.matches tbody>tr>:nth-child(3){ 
    text-align: center;
}

tr {
  display: table-row;

}
nav {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

pre {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.test {
  background-color: #42f542;
}

.collapsible {
  background-color: #e8e8e8;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:focus {
    outline: 0 !important;
}

.active {
  outline:none;
  border: none;
}

.active, .collapsible:hover {
  background-color: #c7c7c7;
  border: none;
  outline:none;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  border: none;
  text-align: left;
  outline: none;
  margin-left: 5px;
}

.active:after {
  border: none;
  outline:none;
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fcfcfc;
}


.topBar {
}

.subheading{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-align: center;
}

.text-muted {
  color: #999;
}

