{% extends "ALIGULAC/base.html" %}
{% block content %}
	<div class="container" style="padding-right: 150px; padding-left: 150px">
		<h2 style="padding-top: 20px;
					  font-size:35px;
					  font-weight: 400;
					  border-style: none none solid none;
					  border-width: 0.05em;
					  border-color: #e7e7e7;
					  font-variant: small-cap;
					  font-family: 'Roboto', sans-serif;
					  text-align: left">About the Site</h2>
		<p style="margin-bottom: 10px; font-size: 23px">
			<b>How this works:</b>
		</p>
		<ul>
			<li style="margin-top: 10px; font-size:20px">
				Every player that has ever played in an Iron Harvest tournament has their games and stats saved, although enough games must be played to get their rating deviation (RD) below 200, this can take anywhere from 5-10 tournament games, once this occurs the player will be permanently added to the full list, and will be included in the active list if they have played in the last three months. 

			</li>
			<li style="margin-top: 10px; font-size:20px">
				The all time ranking list is made for everyone who's played at least 22-27 games, including people who haven't played in the past 3 months. 
			</li>
			<li style="margin-top: 10px; font-size:20px">
				The RD stands for the Rating Deviation, the higher the RD the more rating gained/lost for each win, in addition to being a good guess of how certain we are of a players rating. 
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Uses pretty much the same system found on the site this is based off of <a href="http://aligulac.com/about/faq/">http://aligulac.com/about/faq/</a>, as well as the python code for Glicko2 found here <a href="https://github.com/ryankirkman/pyglicko2">https://github.com/ryankirkman/pyglicko2</a> 
			</li>
		</ul>
		<p style="margin-bottom: 10px; font-size: 23px">
			<b>Questions That Could be Asked Frequently:</b>
		</p>
		<h3 style="font-size: 22px"><i>Why was this site made?</i></h3>
		<p>	I made this site for multiple reasons</p>
		<ul> 
			<li style="margin-top: 10px; font-size:20px"> I wanted to flesh out the competitive scene in Iron Harvest and figure out who really was the best </li>
			<li style="margin-top: 10px; font-size:20px"> I thought that this would be a cool project, and after finding out how <a href="http://aligulac.com/">http://aligulac.com</a> makes its data and the fact that that code was free to use, I set about implementing it in python and slowly working from a bunch of .txts in a folder to eventually a database on a website.</li>
		</ul>
		<h3 style="font-size: 22px"><i>What tournaments are included in the data?</i></h3>
		<p style="margin-top: 10px; font-size:20px">
			I've included all tournaments after the ESL pre-season, and new tournaments should be updated in the less than a week after they happen.
		</p>
		<h3 style="font-size: 23px"><i>What's next for the site?</i></h3>
		<ul>
			<li style="margin-top: 10px; font-size:20px">
				More info on player sites
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Predictions
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Player achievements, and more player statistics
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Overall improvements  
			</li>
		</ul>
	</div>
{% endblock content %}

<a style="text-decoration: none; color: #8a8a8a" href="https://ihaligulac.herokuapp.com/">Active Rankings</a>