{% extends "ALIGULAC/base.html" %}
{% block content %}
	<div class="container">
		<h2 style="padding-top: 20px;
					  font-size:30px;
					  font-weight: 400;
					  border-style: none none solid none;
					  border-width: 0.05em;
					  border-color: #e7e7e7;
					  font-variant: small-cap
					  font-family: 'Roboto', sans-serif;
					  text-align: left">About the Site</h2>
		<p style="margin-bottom: 10px; font-size: 25px">
			How this works:
		</p>
		<ul>
			<li style="margin-top: 10px; font-size:20px">
				Players in the current list are required to have played in the last 2 months, as well as having less than 200 RD (about 6-10 games)
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Every player who has ever played in a tournament has their scores saved in the full rankings list (Ratings start at 1000), but will be excluded from the active list unless they meet the requirements.

			</li>
			<li style="margin-top: 10px; font-size:20px">
				The RD stands for the Rating Deviation, the higher the RD the more rating gained/lost for each win, in addition to being a good guess of how certain we are of a players rating. 
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Uses a version of the method found on the site this is based off of <a href="http://aligulac.com/about/faq/">http://aligulac.com/about/faq/</a>, as well as the python code for Glicko2 found here <a href="https://github.com/ryankirkman/pyglicko2">https://github.com/ryankirkman/pyglicko2</a> 
			</li>
		</ul>
		<p style="margin-bottom: 10px; font-size: 25px">
			Frequently Asked Questions:
		</p>
		<h3 style="font-size: 23px">What tournaments are included in the data?</h3>
		<p style="margin-top: 10px; font-size:20px">
			I've included all tournaments after the ESL pre-season, and new tournaments should be updated in the less than a week.
		</p>
		<h3 style="font-size: 23px">Are there going to be more improvments to the site?</h3>
		<ul>
			<li style="margin-top: 10px; font-size:20px">
				Better system to display matches in my code, and on the website
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Better navigation and player profiles with more data
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Code improvements and optimizations that you won't notice but will take up my time
			</li>
			<li style="margin-top: 10px; font-size:20px">
				Prediction capabilities  
			</li>
		</ul>
	</div>
{% endblock content %}

<a style="text-decoration: none; color: #8a8a8a" href="https://ihaligulac.herokuapp.com/">Active Rankings</a>