{% load static %}
<!DOCTYPE html>
<html>
<style> 
.btn-group button{
	list-style-type: none;
	margin: 0;
	border: 2px #ededed;
	text-align: center;
	font-size: 16px;
	overflow: hidden;    
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group button:hover {
  background-color: #ebebeb;
}
</style>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'ALIGULAC/main.css' %}">

	<title>IH Aligulac</title>
</head>
<body style="font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: normal">
	<div class="container topBar">
			<h1 style="color: #000000;
	   	 	font-family: 'Marcellus SC', Times, serif;
	    	font-size: 60px;
	    	letter-spacing: 0.6em;
	    	text-align: center;
	    	padding-top: 20px;
	    	padding-left: 0.7em;
	    	font-weight: 500;
	    	line-height: 1.1">IH ALIGULAC</h1>

			<p class="subheading text-muted" style="font-family: 'Roboto', sans-serif;
		    letter-spacing: 0.1em;
		    text-align: center">Iron Harvest Progaming Statistics and Predictions</p>
	</div>
  		<div style="font-family: 'Roboto', sans-serif;
	    				font-size: 0.9em;
	    				letter-spacing: 0.1em;
	    				text-align: center;
	    				padding-top: 5px;
	    				padding-bottom: : 5px;
	    				background-color: #f3f3f3;
	    				border-top: 2px #e6e6e6;
	    				border-bottom: 2px #e6e6e6">
			<div class="btn-group">
			  <button><a style="text-decoration: none; color: #8a8a8a" href="https://ihaligulac.herokuapp.com/">Active Rankings</a></li>
			  <button><a style="text-decoration: none; color: #8a8a8a" href="https://ihaligulac.herokuapp.com/">Full Rankings</a></li>
			  <button><a style="text-decoration: none; color: #8a8a8a" href="https://ihaligulac.herokuapp.com/about">About</a></li>
			</div>
		</div>
	{% block content %}{% endblock %}
  </body>
</body>
</html>