{% extends "ALIGULAC/base.html" %}
{% block content %}
	<div class="container" style="padding-right: 150px; padding-left: 150px">
		<h2 style="padding-top: 20px;
					  font-size:25px;
					  font-weight: 400;
					  border-style: none none solid none;
					  border-width: 0.05em;
					  border-color: #e7e7e7;
					  font-variant: small-cap
					  font-family: 'Roboto', sans-serif;
					  text-align: left;">Current "Complete" Rankings</h2>
		<table class="table table-striped table-hover">
		  	<tr style="font-size: ">
			    <th>Rank</th>
			    <th>Player</th>
			    <th>Rating</th>
			    <th>Winrate</th>
			    <th>Wins</th>
			    <th>Losses</th>
			    <th>RD</th>
			</tr>
			{% for player in players %}
 				<tr style="text-align: left">
					<th style="font-size: 18px">{{ player.rank }}</th>
					<th style="font-weight: normal">{{ player.player }}</th>
					<th style="font-weight: normal">{{ player.rating }}</th>
					<th style="font-weight: normal">{{ player.winrate }}</th>
					<th style="font-weight: normal">{{ player.wins }}</th>
					<th style="font-weight: normal">{{ player.losses }}</th>
					<th style="font-weight: normal">{{ player.rd }}</th>
				</tr>
			{% endfor %}
			<tr>
		</table>
	</div>
{% endblock content %}


<div class="container" style="padding-right: 150px; padding-left: 150px">
			<h2 style="padding-top: 20px;
						  font-size:25px;
						  font-weight: 400;
						  border-style: none none solid none;
						  border-width: 0.05em;
						  border-color: #e7e7e7;
						  font-variant: small-cap
						  font-family: 'Roboto', sans-serif;
						  text-align: left;">Current "Active" Rankings</h2>
		<div style="padding-bottom: 2px" id="myBtnContainer">
		  <button class="btn active" onclick="myFunction('200')">Default</button>
		  <button class="btn" onclick="myFunction('250')"> 250 RD</button>
		  <button class="btn" onclick="myFunction('3month')"> 3 Month Inactive</button>
		  <button class="btn" onclick="myFunction('Both')"> Both</button>
		</div>
		<table id="myTable" class="table table-striped table-hover">
		  	<tr>
			    <th>Rank</th>
			    <th>Player</th>
			    <th>Rating</th>
			    <th>Winrate</th>
			    <th>Wins</th>
			    <th>Losses</th>
			    <th>RD</th>
			</tr>
			{% for player in players %}
 				<tr style="text-align: left">
					<th id=player style="font-size: 18px">{{ player.rank }}</th>
					<td id=player style="font-weight: normal">{{ player.player }}</td>
					<td id=player style="font-weight: normal">{{ player.rating }}</td>
					<td id=player style="font-weight: normal">{{ player.winrate }}</td>
					<td id=player style="font-weight: normal">{{ player.wins }}</td>
					<td id=player style="font-weight: normal">{{ player.losses }}</td>
					<td id=player style="font-weight: normal">{{ player.rd }}</td>
				</tr>
			{% endfor %}
			<tr>
		</table>
	</div>
	<script>
	function myFunction(filter) {
	  // Declare variables
	  var input, filter, table, tr, td, i, txtValue;
	  filter = filter
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");

	  // Loop through all table rows, and hide those who don't match the search query
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[5];
	      if (parseInt(td) <= 200) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	  }
	}
	</script>
