{% extends "ALIGULAC/base.html" %}
{% block content %}
	<div class="container" style="padding-right: 150px; padding-left: 150px">
		<h2 style="padding-top: 20px;
					  font-size:25px;
					  font-weight: 400;
					  border-style: none none solid none;
					  border-width: 0.05em;
					  border-color: #e7e7e7;
					  font-variant: small-cap
					  font-family: 'Roboto', sans-serif;
					  text-align: left;">Current "Active" Rankings</h2>
		<table class="table table-striped table-hover">
		  	<tr style="font-size: ">
			    <th>Rank</th>
			    <th>Player</th>
			    <th>Rating</th>
			    <th>Winrate</th>
			    <th>Wins</th>
			    <th>Losses</th>
			    <th>RD</th>
			</tr>
			{% for player in players %}
 				<tr style="text-align: left">
					<th style="padding-right: 10px; text-align: right;font-weight: normal; font-size: 18px">{{ player.rank }}</th>
					<th style="font-weight: normal"><a style="color:#2a6496" href=player/{{ player.id }}>{{ player.player }}</a></th>
					<th style="font-weight: normal">{{ player.rating }}</th>
					<th style="font-weight: normal">{{ player.winrate }}</th>
					<th style="font-weight: normal">{{ player.wins }}</th>
					<th style="font-weight: normal">{{ player.losses }}</th>
					<th style="font-weight: normal">{{ player.rd }}</th>
				</tr>
			{% endfor %}
			<tr>
		</table>
	</div>
{% endblock content %}