{% extends "ALIGULAC/base.html" %}
{% block content %}
	<div class="container" style="padding-right: 100px; padding-left: 100px">
		<h2 style="padding-top: 20px;
					  font-size:25px;
					  font-weight: 400;
					  border-style: none none solid none;
					  border-width: 0.05em;
					  border-color: #e7e7e7;
					  font-variant: small-cap
					  font-family: 'Roboto', sans-serif;
					  text-align: left;">Match Archives (just use ctrl + f, a better method is comming soon)</h2>
	</div>
	<div class="container" style="padding-right: 100px; padding-left: 100px">
	<h3 style="font-size: 1rem">Tournament #1 (German open)</h3>
	<p style="padding-left:5em">
		        Saturas 2 : 0 Arisdrotel<br>
		        Saturas 2 : 0 Bloodyman<br>
		        Saturas 2 : 0 Fifek<br>
		        Saturas 2 : 1 Venaqus<br>
		        Saturas 2 : 0 Wizard cat<br>
		<br>
		        Wizard cat 2 : 0 xTiyx<br>
		        Wizard cat 2 : 0 Claera<br>
		        Wizard cat 2 : 0 Keorangar<br>
		        Wizard cat 0 : 2 Saturas<br>
		<br>
		        Venaqus 2 : 0 Sidon<br>
		        Venaqus 2 : 0 Juutilainen<br>
		        Venaqus 1 : 2 Saturas<br>
		        Venaqus 2 : 0 Keorangar<br>
		<br>
		        Keorangar 2 : 0 JustPlainSavage<br>
		        Keorangar 2 : 0 TwitchNaummw<br>
		        Keorangar 0 : 2 Wizard cat<br>
		        Keorangar 0 : 2 Venaqus<br>
		<br>
		        Fifek 2 : 1 NOSmarkov<br>
		        Fifek 0 : 2 Saturas<br>
		<br>
		        Juutilainen 2 : 0 Quattroruote<br>
		        Juutilainen 0 : 2 Venaqus<br>
		<br>
		        TwitchNaummw 2 : 0 KinG_AnTez<br>
		        TwitchNaummw 1 : 2 Keorangar<br>
		<br>
		        Claera 2 : 0 Fiction<br>
		        Claera 0 : 2 Wizard cat<br>
		<br>
		        Arisdrotel 0 : 2 Saturas<br>
		<br>
		        Bloodyman 0 : 2 Saturas<br>
		<br>
		        NOSmarkov 1 : 2 Fifek<br>
		<br>
		        Sidon 0 : 2 Venaqus<br>
		<br>
		        Quattroruote 0 : 2 Juutilainen<br>
		<br>
		        KinG_AnTez 0 : 2 TwitchNaummw<br>
		<br>
		        JustPlainSavage 0 : 2 Keorangar<br>
		<br>
		        xTiyx 0 : 2 Wizard cat<br>
		<br>
		        Fiction 0 : 2 Claera<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">Tournament #2</h3>
	<p style="padding-left:5em">
		        SenpaiTorpidDow 2 : 0 JudoKris<br>
		        SenpaiTorpidDow 2 : 1 Saturas<br>
		        SenpaiTorpidDow 2 : 0 Deku<br>
		        SenpaiTorpidDow 2 : 1 Xyr0N<br>
		        SenpaiTorpidDow 2 : 0 Troyd<br>
		<br>
		        Troyd 2 : 0 UpAllNight<br>
		        Troyd 2 : 0 PekaMaru<br>
		        Troyd 2 : 0 Hupsaiya<br>
		        Troyd 2 : 0 Juutilainen<br>
		        Troyd 2 : 0 BnHtimmah<br>
		        Troyd 0 : 2 SenpaiTorpidDow<br>
		<br>
		        Xyr0N 2 : 0 Crewfinity<br>
		        Xyr0N 2 : 0 Destructosam<br>
		        Xyr0N 2 : 0 Aicad<br>
		        Xyr0N 2 : 1 Venaqus<br>
		        Xyr0N 1 : 2 SenpaiTorpidDow<br>
		        Xyr0N 2 : 0 BnHtimmah<br>
		<br>
		        BnHtimmah 2 : 0 Arisdrotel<br>
		        BnHtimmah 2 : 0 Pluck<br>
		        BnHtimmah 2 : 0 TwitchNaummw<br>
		        BnHtimmah 0 : 2 Troyd<br>
		        BnHtimmah 0 : 2 Xyr0N<br>
		<br>
		        TwitchNaummw 2 : 0 Bonzo<br>
		        TwitchNaummw 2 : 0 Kaos<br>
		        TwitchNaummw 0 : 2 BnHtimmah<br>
		<br>
		        Juutilainen 2 : 0 ljk274<br>
		        Juutilainen 2 : 0 Fiction<br>
		        Juutilainen 0 : 2 Troyd<br>
		<br>
		        Deku 2 : 1 ilcati<br>
		        Deku 2 : 0 Erii<br>
		        Deku 2 : 1 Vipasyn<br>
		        Deku 0 : 2 SenpaiTorpidDow<br>
		<br>
		        Venaqus 2 : 0 MC-spOrk<br>
		        Venaqus 2 : 0 GingaNinja<br>
		        Venaqus 2 : 0 Chuzar<br>
		        Venaqus 2 : 1 Xyr0N<br>
		<br>
		        Pluck 0 : 2 BnHtimmah<br>
		<br>
		        Kaos 2 : 0 The Last Knight Of Honor<br>
		        Kaos 0 : 2 TwitchNaummw<br>
		<br>
		        Fiction 2 : 0 NinetailedFox<br>
		        Fiction 2 : 0 dragonborn<br>
		        Fiction 0 : 2 Juutilainen<br>
		<br>
		        Hupsaiya 2 : 0 ghostinsky9<br>
		        Hupsaiya 2 : 0 Semillon<br>
		        Hupsaiya 0 : 2 Troyd<br>
		<br>
		        Saturas 2 : 0 HIDZEN<br>
		        Saturas 1 : 2 SenpaiTorpidDow<br>
		<br>
		        Vipasyn 2 : 0 mfvillain<br>
		        Vipasyn 2 : 0 Widgie<br>
		        Vipasyn 2 : 1 Deku<br>
		<br>
		        Aicad 2 : 0 Dream<br>
		        Aicad 2 : 0 Tiy<br>
		        Aicad 0 : 2 Xyr0N<br>
		<br>
		        Chuzar 2 : 0 Nana<br>
		        Chuzar 0 : 2 Venaqus<br>
		<br>
		        Arisdrotel 2 : 0 Slav-matros<br>
		        Arisdrotel 0 : 2 BnHtimmah<br>
		<br>
		        Bonzo 0 : 2 TwitchNaummw<br>
		<br>
		        The Last Knight Of Honor 0 : 2 Kaos<br>
		<br>
		        ljk274 0 : 2 Juutilainen<br>
		<br>
		        dragonborn 2 : 0 Capporetto<br>
		        dragonborn 0 : 2 Fiction<br>
		<br>
		        PekaMaru 0 : 2 Troyd<br>
		<br>
		        Semillon 0 : 2 Hupsaiya<br>
		<br>
		        HIDZEN 2 : 1 Claera<br>
		        HIDZEN 0 : 2 Juutilainen<br>
		<br>
		        Widgie 0 : 2 Vipasyn<br>
		<br>
		        Erii 0 : 2 Deku<br>
		<br>
		        Destructosam 0 : 2 Xyr0N<br>
		<br>
		        Tiy 2 : 0 BobBaboushkin<br>
		        Tiy 0 : 2 Aicad<br>
		<br>
		        GingaNinja 0 : 2 Venaqus<br>
		<br>
		        Nana 0 : 2 Chuzar<br>
		<br>
		        Slav-matros 0 : 2 Arisdrotel<br>
		<br>
		        Capporetto 0 : 2 dragonborn<br>
		<br>
		        NinetailedFox 0 : 2 Fiction<br>
		<br>
		        UpAllNight 0 : 2 Troyd<br>
		<br>
		        ghostinsky9 0 : 2 Hupsaiya<br>
		<br>
		        Claera 1 : 2 HIDZEN<br>
		<br>
		        JudoKris 0 : 2 SenpaiTorpidDow<br>
		<br>
		        mfvillain 0 : 2 Vipasyn<br>
		<br>
		        ilcati 1 : 2 Deku<br>
		<br>
		        Crewfinity 0 : 2 Xyr0N<br>
		<br>
		        BobBaboushkin 0 : 2 Tiy<br>
		<br>
		        Dream 0 : 2 Aicad<br>
		<br>
		        MC-spOrk 0 : 2 Venaqus<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">Tournament #3</h3>
	<p style="padding-left:5em">
		        Saturas 2 : 0 BobBaboushkin<br>
		        Saturas 2 : 0 malgari<br>
		        Saturas 3 : 0 Xyr0N<br>
		        Saturas 3 : 1 Venaqus<br>
		<br>
		        Venaqus 2 : 0 Deku<br>
		        Venaqus 2 : 1 BnHtimmah<br>
		        Venaqus 2 : 0 Troyd<br>
		        Venaqus 0 : 1 Saturas<br>
		<br>
		        Troyd 2 : 0 PekaMaru<br>
		        Troyd 2 : 1 Chaosbringer<br>
		        Troyd 0 : 3 Venaqus<br>
		        Troyd 3 : 1 Xyr0N<br>
		<br>
		        Xyr0N 2 : 0 SavaKHV<br>
		        Xyr0N 2 : 0 VindicareX<br>
		        Xyr0N 2 : 0 Aicad<br>
		        Xyr0N 0 : 3 Saturas<br>
		        Xyr0N 1 : 2 Troyd<br>
		<br>
		        malgari 2 : 0 Garl1tz<br>
		        malgari 2 : 0 Fiction<br>
		        malgari 0 : 2 Saturas<br>
		<br>
		        Aicad 2 : 0 Seemann Oome<br>
		        Aicad 2 : 0 Claera<br>
		        Aicad 0 : 2 Xyr0N<br>
		<br>
		        BnHtimmah 2 : 0 Kagor<br>
		        BnHtimmah 2 : 0 Keorangar<br>
		        BnHtimmah 1 : 2 Venaqus<br>
		<br>
		        Chaosbringer 2 : 0 Burgara122<br>
		        Chaosbringer 2 : 0 Arisdrotel<br>
		        Chaosbringer 1 : 2 Troyd<br>
		<br>
		        BobBaboushkin 2 : 1 Russian Bear 5000<br>
		        BobBaboushkin 0 : 2 Saturas<br>
		<br>
		        Fiction 2 : 0 Lord of the Night<br>
		        Fiction 0 : 2 malgari<br>
		<br>
		        Claera 2 : 0 itzEver<br>
		        Claera 0 : 2 Aicad<br>
		<br>
		        VindicareX 2 : 0 Warmind<br>
		        VindicareX 0 : 2 Xyr0N<br>
		<br>
		        Deku 2 : 0 BorosRedeemed<br>
		        Deku 0 : 2 Venaqus<br>
		<br>
		        Keorangar 2 : 0 deadly<br>
		        Keorangar 0 : 2 BnHtimmah<br>
		<br>
		        PekaMaru 2 : 0 GingaNinja<br>
		        PekaMaru 0 : 2 Troyd<br>
		<br>
		        Arisdrotel 2 : 0 Semillon<br>
		        Arisdrotel 0 : 2 Chaosbringer<br>
		<br>
		        Russian Bear 5000 0 : 2 BobBaboushkin<br>
		<br>
		        Lord of the Night 0 : 2 Fiction<br>
		<br>
		        Garl1tz 0 : 2 malgari<br>
		<br>
		        Seemann Oome 0 : 2 Aicad<br>
		<br>
		        itzEver 0 : 2 Claera<br>
		<br>
		        SavaKHV 0 : 2 Xyr0N<br>
		<br>
		        Warmind 0 : 2 VindicareX<br>
		<br>
		        BorosRedeemed 0 : 2 Deku<br>
		<br>
		        Kagor 0 : 2 BnHtimmah<br>
		<br>
		        deadly 0 : 2 Keorangar<br>
		<br>
		        GingaNinja 0 : 2 PekaMaru<br>
		<br>
		        Burgara122 0 : 2 Chaosbringer<br>
		<br>
		        Semillon 0 : 2 Arisdrotel<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">Thanksgiving Tournament 2020</h3>
	<p style="padding-left:5em">
		        Saturas 2 : 0 Claera<br>
		        Saturas 2 : 0 Librarian<br>
		        Saturas 2 : 0 mfvillain<br>
		        Saturas 3 : 0 Aicad<br>
		        Saturas 3 : 1 Aicad<br>
		<br>
		        Aicad 2 : 0 jobnazz<br>
		        Aicad 2 : 0 BorosRedeemed<br>
		        Aicad 2 : 0 TwitchNaummw<br>
		        Aicad 0 : 3 Saturas<br>
		        Aicad 3 : 0 Claera<br>
		        Aicad 1 : 3 Saturas<br>
		<br>
		        Claera 0 : 2 Saturas<br>
		        Claera 2 : 0 BorosRedeemed<br>
		        Claera 2 : 1 Seemann AIOBE<br>
		        Claera 2 : 0 mfvillain<br>
		        Claera 2 : 1 TwitchNaummw<br>
		        Claera 0 : 3 Aicad<br>
		<br>
		        TwitchNaummw 2 : 0 Seemann AIOBE<br>
		        TwitchNaummw 0 : 2 Aicad<br>
		        TwitchNaummw 2 : 0 JudoKris<br>
		        TwitchNaummw 1 : 2 Claera<br>
		<br>
		        JudoKris 0 : 2 BorosRedeemed<br>
		        JudoKris 2 : 0 jobnazz<br>
		        JudoKris 2 : 0 Librarian<br>
		        JudoKris 2 : 0 Seemann SEGFAULT<br>
		        JudoKris 0 : 2 TwitchNaummw<br>
		<br>
		        mfvillain 2 : 0 Sillix<br>
		        mfvillain 2 : 0 BnHtimmah<br>
		        mfvillain 0 : 2 Saturas<br>
		        mfvillain 0 : 2 Claera<br>
		<br>
		        Seemann SEGFAULT 0 : 2 Seemann AIOBE<br>
		        Seemann SEGFAULT 2 : 0 BnHtimmah<br>
		        Seemann SEGFAULT 0 : 2 JudoKris<br>
		<br>
		        Seemann AIOBE 2 : 0 Seemann SEGFAULT<br>
		        Seemann AIOBE 0 : 2 TwitchNaummw<br>
		        Seemann AIOBE 2 : 0 dr mantis tobaggan<br>
		        Seemann AIOBE 1 : 2 Claera<br>
		<br>
		        BnHtimmah 2 : 0 dr mantis tobaggan<br>
		        BnHtimmah 0 : 2 mfvillain<br>
		        BnHtimmah 0 : 2 Seemann SEGFAULT<br>
		<br>
		        BorosRedeemed 2 : 0 JudoKris<br>
		        BorosRedeemed 0 : 2 Aicad<br>
		        BorosRedeemed 0 : 2 Claera<br>
		<br>
		        dr mantis tobaggan 0 : 2 BnHtimmah<br>
		        dr mantis tobaggan 2 : 0 Sillix<br>
		        dr mantis tobaggan 0 : 2 Seemann AIOBE<br>
		<br>
		        Librarian 0 : 2 Saturas<br>
		        Librarian 0 : 2 JudoKris<br>
		<br>
		        jobnazz 0 : 2 Aicad<br>
		        jobnazz 0 : 2 JudoKris<br>
		<br>
		        Sillix 0 : 2 mfvillain<br>
		        Sillix 0 : 2 dr mantis tobaggan<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">ESL Fall Tournanent #1</h3>
	<p style="padding-left:5em">
		        Aicad 1 : 0 Claera<br>
		        Aicad 1 : 0 Venaqus<br>
		        Aicad 1 : 0 Saturas<br>
		        Aicad 1 : 0 Troyd<br>
		        Aicad 1 : 0 Xyr0N<br>
		<br>
		        Xyr0N 1 : 0 Seemann SEGFAULT<br>
		        Xyr0N 1 : 0 Pyroka<br>
		        Xyr0N 1 : 0 Seemann AIOBE<br>
		        Xyr0N 1 : 0 Godoksa<br>
		        Xyr0N 1 : 0 BnHtimmah<br>
		        Xyr0N 0 : 1 Aicad<br>
		<br>
		        Saturas 1 : 0 Flibby Longshanks<br>
		        Saturas 1 : 0 Killuminati<br>
		        Saturas 1 : 0 Jacob<br>
		        Saturas 0 : 1 Aicad<br>
		        Saturas 1 : 0 Bloodyman<br>
		        Saturas 1 : 0 BnHtimmah<br>
		<br>
		        Mixu 1 : 0 Vermillion_Hawk<br>
		        Mixu 1 : 0 Danielosama<br>
		        Mixu 0 : 1 TwitchNaummw<br>
		        Mixu 1 : 0 rntpln<br>
		        Mixu 1 : 0 Claera<br>
		        Mixu 1 : 0 SenpaiTorpidDow<br>
		<br>
		        Fiction 1 : 0 Orsox<br>
		        Fiction 1 : 0 AlkaduR<br>
		        Fiction 0 : 1 BnHtimmah<br>
		        Fiction 1 : 0 InsaneSaintGamer<br>
		        Fiction 1 : 0 MrBananaGrabber<br>
		        Fiction 1 : 0 TwitchNaummw<br>
		<br>
		        BnHtimmah 1 : 0 UpAllNight<br>
		        BnHtimmah 1 : 0 Troyd<br>
		        BnHtimmah 1 : 0 Fiction<br>
		        BnHtimmah 1 : 0 TwitchNaummw<br>
		        BnHtimmah 0 : 1 Xyr0N<br>
		        BnHtimmah 0 : 1 Saturas<br>
		<br>
		        TwitchNaummw 1 : 0 SenpaiTorpidDow<br>
		        TwitchNaummw 1 : 0 Semillon<br>
		        TwitchNaummw 1 : 0 Mixu<br>
		        TwitchNaummw 0 : 1 BnHtimmah<br>
		        TwitchNaummw 1 : 0 Seemann AIOBE<br>
		        TwitchNaummw 0 : 1 Fiction<br>
		<br>
		        SenpaiTorpidDow 0 : 1 TwitchNaummw<br>
		        SenpaiTorpidDow 1 : 0 Mur<br>
		        SenpaiTorpidDow 1 : 0 MrBananaGrabber<br>
		        SenpaiTorpidDow 1 : 0 Jacob<br>
		        SenpaiTorpidDow 1 : 0 UpAllNight<br>
		        SenpaiTorpidDow 0 : 1 Mixu<br>
		<br>
		        Seemann AIOBE 1 : 0 NOSmarkov<br>
		        Seemann AIOBE 1 : 0 rntpln<br>
		        Seemann AIOBE 0 : 1 Xyr0N<br>
		        Seemann AIOBE 1 : 0 Jdanzi<br>
		        Seemann AIOBE 0 : 1 TwitchNaummw<br>
		        Seemann AIOBE 1 : 0 Bloodyman<br>
		<br>
		        rntpln 1 : 0 MajimaEverywhere<br>
		        rntpln 0 : 1 Seemann AIOBE<br>
		        rntpln 1 : 0 Hobbs<br>
		        rntpln 0 : 1 Mixu<br>
		        rntpln 1 : 0 AlkaduR<br>
		        rntpln 1 : 0 The Von<br>
		<br>
		        Troyd 1 : 0 Patrik<br>
		        Troyd 0 : 1 BnHtimmah<br>
		        Troyd 1 : 0 Seemann SEGFAULT<br>
		        Troyd 1 : 0 Pyroka<br>
		        Troyd 0 : 1 Aicad<br>
		        Troyd 1 : 0 Seemann Oome<br>
		<br>
		        Jacob 1 : 0 Seemann Oome<br>
		        Jacob 1 : 0 EthosImmortal<br>
		        Jacob 0 : 1 Saturas<br>
		        Jacob 0 : 1 SenpaiTorpidDow<br>
		        Jacob 1 : 0 MajimaEverywhere<br>
		        Jacob 1 : 0 Hobbs<br>
		<br>
		        Pyroka 1 : 0 MrBananaGrabber<br>
		        Pyroka 0 : 1 Xyr0N<br>
		        Pyroka 1 : 0 The Von<br>
		        Pyroka 0 : 1 Troyd<br>
		        Pyroka 1 : 0 Jonmatrix<br>
		        Pyroka 1 : 0 UpAllNight<br>
		<br>
		        Jdanzi 1 : 0 richiehimself<br>
		        Jdanzi 0 : 1 Godoksa<br>
		        Jdanzi 1 : 0 Semillon<br>
		        Jdanzi 0 : 1 Seemann AIOBE<br>
		        Jdanzi 1 : 0 Scarecrow<br>
		        Jdanzi 1 : 0 Claera<br>
		<br>
		        Claera 1 : 0 The Von<br>
		        Claera 0 : 1 Aicad<br>
		        Claera 1 : 0 Mur<br>
		        Claera 1 : 0 Scarecrow<br>
		        Claera 0 : 1 Mixu<br>
		        Claera 0 : 1 Jdanzi<br>
		<br>
		        Seemann Oome 0 : 1 Jacob<br>
		        Seemann Oome 0 : 1 Bloodyman<br>
		        Seemann Oome 1 : 0 richiehimself<br>
		        Seemann Oome 1 : 0 Semillon<br>
		        Seemann Oome 1 : 0 Seemann FiberOptrix<br>
		        Seemann Oome 0 : 1 Troyd<br>
		<br>
		        Bloodyman 0 : 1 Killuminati<br>
		        Bloodyman 1 : 0 Seemann Oome<br>
		        Bloodyman 1 : 0 Flibby Longshanks<br>
		        Bloodyman 1 : 0 MajimaEverywhere<br>
		        Bloodyman 0 : 1 Saturas<br>
		        Bloodyman 0 : 1 Seemann AIOBE<br>
		<br>
		        Hobbs 1 : 0 Seemann FiberOptrix<br>
		        Hobbs 0 : 1 InsaneSaintGamer<br>
		        Hobbs 0 : 1 rntpln<br>
		        Hobbs 1 : 0 Killuminati<br>
		        Hobbs 1 : 0 Vermillion_Hawk<br>
		        Hobbs 0 : 1 Jacob<br>
		<br>
		        The Von 0 : 1 Claera<br>
		        The Von 1 : 0 kikin<br>
		        The Von 0 : 1 Pyroka<br>
		        The Von 1 : 0 Jonmatrix<br>
		        The Von 1 : 0 InsaneSaintGamer<br>
		        The Von 0 : 1 rntpln<br>
		<br>
		        Scarecrow 0 : 1 AlkaduR<br>
		        Scarecrow 1 : 0 fox40phil<br>
		        Scarecrow 1 : 0 Danielosama<br>
		        Scarecrow 0 : 1 Claera<br>
		        Scarecrow 0 : 1 Jdanzi<br>
		        Scarecrow 1 : 0 Vermillion_Hawk<br>
		<br>
		        InsaneSaintGamer 1 : 0 Hobbs<br>
		        InsaneSaintGamer 0 : 1 Godoksa<br>
		        InsaneSaintGamer 0 : 1 Fiction<br>
		        InsaneSaintGamer 0 : 1 The Von<br>
		        InsaneSaintGamer 1 : 0 AlkaduR<br>
		<br>
		        UpAllNight 0 : 1 BnHtimmah<br>
		        UpAllNight 1 : 0 richiehimself<br>
		        UpAllNight 1 : 0 EthosImmortal<br>
		        UpAllNight 1 : 0 Vermillion_Hawk<br>
		        UpAllNight 0 : 1 SenpaiTorpidDow<br>
		        UpAllNight 0 : 1 Pyroka<br>
		<br>
		        Semillon 1 : 0 Smoke<br>
		        Semillon 0 : 1 TwitchNaummw<br>
		        Semillon 0 : 1 Jdanzi<br>
		        Semillon 0 : 1 Seemann Oome<br>
		        Semillon 1 : 0 EthosImmortal<br>
		        Semillon 1 : 0 MajimaEverywhere<br>
		<br>
		        Mur 0 : 1 EthosImmortal<br>
		        Mur 0 : 1 SenpaiTorpidDow<br>
		        Mur 0 : 1 Claera<br>
		        Mur 1 : 0 Flibby Longshanks<br>
		        Mur 1 : 0 Seemann SEGFAULT<br>
		        Mur 1 : 0 MrBananaGrabber<br>
		<br>
		        fox40phil 0 : 1 Venaqus<br>
		        fox40phil 0 : 1 Scarecrow<br>
		        fox40phil 1 : 0 Jonmatrix<br>
		        fox40phil 0 : 1 MrBananaGrabber<br>
		        fox40phil 1 : 0 Musashi<br>
		        fox40phil 1 : 0 Danielosama<br>
		<br>
		        Seemann FiberOptrix 0 : 1 Hobbs<br>
		        Seemann FiberOptrix 0 : 1 Jonmatrix<br>
		        Seemann FiberOptrix 1 : 0 Killuminati<br>
		        Seemann FiberOptrix 1 : 0 Danielosama<br>
		        Seemann FiberOptrix 0 : 1 Seemann Oome<br>
		        Seemann FiberOptrix 1 : 0 richiehimself<br>
		<br>
		        Godoksa 1 : 0 Musashi<br>
		        Godoksa 1 : 0 Jdanzi<br>
		        Godoksa 1 : 0 InsaneSaintGamer<br>
		        Godoksa 0 : 1 Xyr0N<br>
		<br>
		        MrBananaGrabber 0 : 1 Pyroka<br>
		        MrBananaGrabber 1 : 0 Patrik<br>
		        MrBananaGrabber 0 : 1 SenpaiTorpidDow<br>
		        MrBananaGrabber 1 : 0 fox40phil<br>
		        MrBananaGrabber 0 : 1 Fiction<br>
		        MrBananaGrabber 0 : 1 Mur<br>
		<br>
		        AlkaduR 1 : 0 Scarecrow<br>
		        AlkaduR 0 : 1 Fiction<br>
		        AlkaduR 0 : 1 MajimaEverywhere<br>
		        AlkaduR 1 : 0 EthosImmortal<br>
		        AlkaduR 0 : 1 rntpln<br>
		        AlkaduR 0 : 1 InsaneSaintGamer<br>
		<br>
		        MajimaEverywhere 0 : 1 rntpln<br>
		        MajimaEverywhere 1 : 0 Musashi<br>
		        MajimaEverywhere 1 : 0 AlkaduR<br>
		        MajimaEverywhere 0 : 1 Bloodyman<br>
		        MajimaEverywhere 0 : 1 Jacob<br>
		        MajimaEverywhere 0 : 1 Semillon<br>
		<br>
		        Vermillion_Hawk 0 : 1 Mixu<br>
		        Vermillion_Hawk 1 : 0 Flibby Longshanks<br>
		        Vermillion_Hawk 1 : 0 Musashi<br>
		        Vermillion_Hawk 0 : 1 UpAllNight<br>
		        Vermillion_Hawk 0 : 1 Hobbs<br>
		        Vermillion_Hawk 0 : 1 Scarecrow<br>
		<br>
		        Danielosama 1 : 0 Jonmatrix<br>
		        Danielosama 0 : 1 Mixu<br>
		        Danielosama 0 : 1 Scarecrow<br>
		        Danielosama 0 : 1 Seemann FiberOptrix<br>
		        Danielosama 1 : 0 richiehimself<br>
		        Danielosama 0 : 1 fox4[0]phil<br>
		<br>
		        Flibby Longshanks 0 : 1 Saturas<br>
		        Flibby Longshanks 0 : 1 Vermillion_Hawk<br>
		        Flibby Longshanks 0 : 1 Bloodyman<br>
		        Flibby Longshanks 0 : 1 Mur<br>
		        Flibby Longshanks 1 : 0 kikin<br>
		        Flibby Longshanks 1 : 0 Seemann SEGFAULT<br>
		<br>
		        Musashi 0 : 1 Godoksa<br>
		        Musashi 0 : 1 MajimaEverywhere<br>
		        Musashi 0 : 1 Vermillion_Hawk<br>
		        Musashi 1 : 0 kikin<br>
		        Musashi 0 : 1 fox40phil<br>
		        Musashi 1 : 0 Jonmatrix<br>
		<br>
		        Venaqus 1 : 0 fox40phil<br>
		        Venaqus 1 : 0 Kaos<br>
		        Venaqus 0 : 1 Aicad<br>
		<br>
		        Jonmatrix 0 : 1 Danielosama<br>
		        Jonmatrix 1 : 0 Seemann FiberOptrix<br>
		        Jonmatrix 0 : 1 fox40phil<br>
		        Jonmatrix 0 : 1 The Von<br>
		        Jonmatrix 0 : 1 Pyroka<br>
		        Jonmatrix 0 : 1 Musashi<br>
		<br>
		        richiehimself 0 : 1 Jdanzi<br>
		        richiehimself 0 : 1 UpAllNight<br>
		        richiehimself 0 : 1 Seemann Oome<br>
		        richiehimself 1 : 0 Seemann SEGFAULT<br>
		        richiehimself 0 : 1 Danielosama<br>
		        richiehimself 0 : 1 Seemann FiberOptrix<br>
		<br>
		        Seemann SEGFAULT 0 : 1 Xyr0N<br>
		        Seemann SEGFAULT 1 : 0 Orsox<br>
		        Seemann SEGFAULT 0 : 1 Troyd<br>
		        Seemann SEGFAULT 0 : 1 richiehimself<br>
		        Seemann SEGFAULT 0 : 1 Mur<br>
		        Seemann SEGFAULT 0 : 1 Flibby Longshanks<br>
		<br>
		        kikin 0 : 1 Kaos<br>
		        kikin 0 : 1 The Von<br>
		        kikin 0 : 1 Orsox<br>
		        kikin 0 : 1 Musashi<br>
		        kikin 0 : 1 Flibby Longshanks<br>
		<br>
		        EthosImmortal 1 : 0 Mur<br>
		        EthosImmortal 0 : 1 Jacob<br>
		        EthosImmortal 0 : 1 UpAllNight<br>
		        EthosImmortal 0 : 1 AlkaduR<br>
		        EthosImmortal 0 : 1 Semillon<br>
		<br>
		        Killuminati 1 : 0 Bloodyman<br>
		        Killuminati 0 : 1 Saturas<br>
		        Killuminati 0 : 1 Seemann FiberOptrix<br>
		        Killuminati 0 : 1 Hobbs<br>
		<br>
		        Orsox 0 : 1 Fiction<br>
		        Orsox 0 : 1 Seemann SEGFAULT<br>
		        Orsox 1 : 0 kikin<br>
		<br>
		        Kaos 1 : 0 kikin<br>
		        Kaos 0 : 1 Venaqus<br>
		<br>
		        Curiousmat 1 : 0 Evilbird<br>
		<br>
		        Patrik 0 : 1 Troyd<br>
		        Patrik 0 : 1 MrBananaGrabber<br>
		<br>
		        NOSmarkov 0 : 1 Seemann AIOBE<br>
		<br>
		        Smoke 0 : 1 Semillon<br>
		<br>
		        Evilbird 0 : 1 Curiousmat<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">ESL Fall Tournanent #2</h3>
	<p style="padding-left:5em">
		        Saturas 1 : 0 Seemann SEGFAULT<br>
		        Saturas 1 : 0 Troyd<br>
		        Saturas 1 : 0 Kaos<br>
		        Saturas 1 : 0 SenpaiTorpidDow<br>
		        Saturas 1 : 0 Jdanzi<br>
		        Saturas 1 : 0 Mixu<br>
		<br>
		        Jdanzi 1 : 0 Seemann FiberOptrix<br>
		        Jdanzi 1 : 0 Mixu<br>
		        Jdanzi 1 : 0 BnHtimmah<br>
		        Jdanzi 1 : 0 Godoksa<br>
		        Jdanzi 0 : 1 Saturas<br>
		        Jdanzi 1 : 0 SenpaiTorpidDow<br>
		<br>
		        Noah 0 : 1 BnHtimmah<br>
		        Noah 1 : 0 Dixio<br>
		        Noah 1 : 0 SenpaiTorpidDow<br>
		        Noah 1 : 0 Seemann AIOBE<br>
		        Noah 1 : 0 Godoksa<br>
		        Noah 1 : 0 TwitchNaummw<br>
		<br>
		        Mixu 1 : 0 Seemann AIOBE<br>
		        Mixu 0 : 1 Jdanzi<br>
		        Mixu 1 : 0 Jacob<br>
		        Mixu 1 : 0 Claera<br>
		        Mixu 1 : 0 Kaos<br>
		        Mixu 0 : 1 Saturas<br>
		<br>
		        BnHtimmah 1 : 0 Noah<br>
		        BnHtimmah 1 : 0 Xyr0N<br>
		        BnHtimmah 0 : 1 Jdanzi<br>
		        BnHtimmah 1 : 0 Troyd<br>
		        BnHtimmah 0 : 1 TwitchNaummw<br>
		        BnHtimmah 1 : 0 Kaos<br>
		<br>
		        TwitchNaummw 1 : 0 rntpln<br>
		        TwitchNaummw 0 : 1 Kaos<br>
		        TwitchNaummw 1 : 0 Scarecrow<br>
		        TwitchNaummw 1 : 0 Seemann Oome<br>
		        TwitchNaummw 1 : 0 BnHtimmah<br>
		        TwitchNaummw 0 : 1 Noah<br>
		<br>
		        Seemann AIOBE 0 : 1 Mixu<br>
		        Seemann AIOBE 1 : 0 Seemann SEGFAULT<br>
		        Seemann AIOBE 1 : 0 MajimaEverywhere<br>
		        Seemann AIOBE 0 : 1 Noah<br>
		        Seemann AIOBE 1 : 0 Seemann Oome<br>
		        Seemann AIOBE 1 : 0 Jacob<br>
		<br>
		        Fiction 1 : 0 Dixio<br>
		        Fiction 0 : 1 SenpaiTorpidDow<br>
		        Fiction 1 : 0 rntpln<br>
		        Fiction 0 : 1 Kaos<br>
		        Fiction 1 : 0 MajimaEverywhere<br>
		        Fiction 1 : 0 Claera<br>
		<br>
		        Kaos 1 : 0 Jacob<br>
		        Kaos 1 : 0 TwitchNaummw<br>
		        Kaos 0 : 1 Saturas<br>
		        Kaos 1 : 0 Fiction<br>
		        Kaos 0 : 1 Mixu<br>
		        Kaos 0 : 1 BnHtimmah<br>
		<br>
		        SenpaiTorpidDow 1 : 0 Olvadi<br>
		        SenpaiTorpidDow 1 : 0 Fiction<br>
		        SenpaiTorpidDow 0 : 1 Noah<br>
		        SenpaiTorpidDow 0 : 1 Saturas<br>
		        SenpaiTorpidDow 1 : 0 Troyd<br>
		        SenpaiTorpidDow 0 : 1 Jdanzi<br>
		<br>
		        Dixio 0 : 1 Fiction<br>
		        Dixio 0 : 1 Noah<br>
		        Dixio 1 : 0 Imponderabilium<br>
		        Dixio 1 : 0 Scarecrow<br>
		        Dixio 0 : 1 Jacob<br>
		        Dixio 1 : 0 Seemann FiberOptrix<br>
		<br>
		        Claera 1 : 0 Seemann Oome<br>
		        Claera 1 : 0 Fortune<br>
		        Claera 0 : 1 Godoksa<br>
		        Claera 0 : 1 Mixu<br>
		        Claera 1 : 0 Seemann SEGFAULT<br>
		        Claera 0 : 1 Fiction<br>
		<br>
		        Jacob 0 : 1 Kaos<br>
		        Jacob 1 : 0 Seemann FiberOptrix<br>
		        Jacob 0 : 1 Mixu<br>
		        Jacob 1 : 0 Imponderabilium<br>
		        Jacob 1 : 0 Dixio<br>
		        Jacob 0 : 1 Seemann AIOBE<br>
		<br>
		        Troyd 0 : 1 Saturas<br>
		        Troyd 1 : 0 Xyr0N<br>
		        Troyd 0 : 1 BnHtimmah<br>
		        Troyd 0 : 1 SenpaiTorpidDow<br>
		        Troyd 1 : 0 Seemann SEGFAULT<br>
		<br>
		        Seemann Oome 0 : 1 Claera<br>
		        Seemann Oome 1 : 0 Imponderabilium<br>
		        Seemann Oome 1 : 0 Seemann FiberOptrix<br>
		        Seemann Oome 0 : 1 TwitchNaummw<br>
		        Seemann Oome 0 : 1 Seemann AIOBE<br>
		        Seemann Oome 1 : 0 MajimaEverywhere<br>
		<br>
		        Godoksa 1 : 0 Imponderabilium<br>
		        Godoksa 1 : 0 MajimaEverywhere<br>
		        Godoksa 1 : 0 Claera<br>
		        Godoksa 0 : 1 Jdanzi<br>
		        Godoksa 0 : 1 Noah<br>
		<br>
		        Seemann SEGFAULT 0 : 1 Saturas<br>
		        Seemann SEGFAULT 0 : 1 Seemann AIOBE<br>
		        Seemann SEGFAULT 1 : 0 MajimaEverywhere<br>
		        Seemann SEGFAULT 0 : 1 Claera<br>
		        Seemann SEGFAULT 0 : 1 Troyd<br>
		<br>
		        Seemann FiberOptrix 0 : 1 Jdanzi<br>
		        Seemann FiberOptrix 0 : 1 Jacob<br>
		        Seemann FiberOptrix 0 : 1 Seemann Oome<br>
		        Seemann FiberOptrix 1 : 0 Scarecrow<br>
		        Seemann FiberOptrix 0 : 1 Dixio<br>
		<br>
		        Scarecrow 0 : 1 MajimaEverywhere<br>
		        Scarecrow 1 : 0 LemaEdwin<br>
		        Scarecrow 0 : 1 TwitchNaummw<br>
		        Scarecrow 0 : 1 Dixio<br>
		        Scarecrow 0 : 1 Seemann FiberOptrix<br>
		        Scarecrow 1 : 0 Imponderabilium<br>
		<br>
		        MajimaEverywhere 1 : 0 Scarecrow<br>
		        MajimaEverywhere 0 : 1 Godoksa<br>
		        MajimaEverywhere 0 : 1 Seemann AIOBE<br>
		        MajimaEverywhere 0 : 1 Seemann SEGFAULT<br>
		        MajimaEverywhere 0 : 1 Fiction<br>
		        MajimaEverywhere 0 : 1 Seemann Oome<br>
		<br>
		        Imponderabilium 0 : 1 Godoksa<br>
		        Imponderabilium 0 : 1 Seemann Oome<br>
		        Imponderabilium 0 : 1 Dixio<br>
		        Imponderabilium 0 : 1 Jacob<br>
		        Imponderabilium 0 : 1 Scarecrow<br>
		<br>
		        rntpln 0 : 1 TwitchNaummw<br>
		        rntpln 1 : 0 Semillon<br>
		        rntpln 0 : 1 Fiction<br>
		<br>
		        Xyr0N 1 : 0 LemaEdwin<br>
		        Xyr0N 0 : 1 BnHtimmah<br>
		        Xyr0N 0 : 1 Troyd<br>
		<br>
		        Semillon 0 : 1 Fortune<br>
		        Semillon 0 : 1 rntpln<br>
		<br>
		        LemaEdwin 0 : 1 Xyr0N<br>
		        LemaEdwin 0 : 1 Scarecrow<br>
		<br>
		        Olvadi 0 : 1 SenpaiTorpidDow<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">ESL Fall Tournanent #3</h3>
	<p style="padding-left:5em">
		        Noah 1 : 0 Mur<br>
		        Noah 1 : 0 Fiction<br>
		        Noah 1 : 0 Pyroka<br>
		        Noah 1 : 0 SenpaiTorpidDow<br>
		        Noah 1 : 0 Venaqus<br>
		        Noah 1 : 0 Xyr0N<br>
		<br>
		        SenpaiTorpidDow 1 : 0 Troyd<br>
		        SenpaiTorpidDow 1 : 0 The Von<br>
		        SenpaiTorpidDow 1 : 0 BnHtimmah<br>
		        SenpaiTorpidDow 0 : 1 Noah<br>
		        SenpaiTorpidDow 1 : 0 Jdanzi<br>
		        SenpaiTorpidDow 1 : 0 Venaqus<br>
		<br>
		        NaumMW 1 : 0 Captain Hellbat<br>
		        NaumMW 0 : 1 Venaqus<br>
		        NaumMW 1 : 0 Troyd<br>
		        NaumMW 1 : 0 Claera<br>
		        NaumMW 1 : 0 Pyroka<br>
		        NaumMW 1 : 0 Jacob<br>
		<br>
		        Venaqus 1 : 0 Scarecrow<br>
		        Venaqus 1 : 0 NaumMW<br>
		        Venaqus 1 : 0 Jdanzi<br>
		        Venaqus 1 : 0 Xyr0N<br>
		        Venaqus 0 : 1 Noah<br>
		        Venaqus 0 : 1 SenpaiTorpidDow<br>
		<br>
		        Jacob 0 : 1 Xyr0N<br>
		        Jacob 1 : 0 Mur<br>
		        Jacob 1 : 0 Dixio<br>
		        Jacob 1 : 0 The Von<br>
		        Jacob 1 : 0 Neo Combine<br>
		        Jacob 0 : 1 NaumMW<br>
		<br>
		        Pyroka 1 : 0 Smeg4brainsuk<br>
		        Pyroka 1 : 0 Mixu<br>
		        Pyroka 0 : 1 Noah<br>
		        Pyroka 1 : 0 Fiction<br>
		        Pyroka 0 : 1 NaumMW<br>
		        Pyroka 1 : 0 Neo Combine<br>
		<br>
		        Fiction 1 : 0 Franky<br>
		        Fiction 0 : 1 Noah<br>
		        Fiction 1 : 0 GiftedMachine<br>
		        Fiction 0 : 1 Pyroka<br>
		        Fiction 1 : 0 Flibby Longshanks<br>
		        Fiction 1 : 0 Claera<br>
		<br>
		        Xyr0N 1 : 0 Jacob<br>
		        Xyr0N 1 : 0 Godoksa<br>
		        Xyr0N 1 : 0 Kaos<br>
		        Xyr0N 0 : 1 Venaqus<br>
		        Xyr0N 1 : 0 Mixu<br>
		        Xyr0N 0 : 1 Noah<br>
		<br>
		        Troyd 0 : 1 SenpaiTorpidDow<br>
		        Troyd 1 : 0 Musashi<br>
		        Troyd 0 : 1 NaumMW<br>
		        Troyd 1 : 0 Dixio<br>
		        Troyd 1 : 0 PowerK<br>
		        Troyd 1 : 0 Franky<br>
		<br>
		        The Von 1 : 0 Orsox<br>
		        The Von 0 : 1 SenpaiTorpidDow<br>
		        The Von 1 : 0 Mixu<br>
		        The Von 0 : 1 Jacob<br>
		        The Von 1 : 0 Oathmaster<br>
		        The Von 1 : 0 St.Akardi<br>
		<br>
		        Mur 0 : 1 Noah<br>
		        Mur 0 : 1 Jacob<br>
		        Mur 1 : 0 St.Akardi<br>
		        Mur 0 : 1 Claera<br>
		        Mur 1 : 0 Flibby Longshanks<br>
		<br>
		        Franky 0 : 1 Fiction<br>
		        Franky 1 : 0 PowerK<br>
		        Franky 1 : 0 rntpln<br>
		        Franky 0 : 1 Jdanzi<br>
		        Franky 1 : 0 GiftedMachine<br>
		        Franky 0 : 1 Troyd<br>
		<br>
		        Claera 1 : 0 rntpln<br>
		        Claera 0 : 1 BnHtimmah<br>
		        Claera 1 : 0 Orsox<br>
		        Claera 0 : 1 NaumMW<br>
		        Claera 1 : 0 Mur<br>
		        Claera 0 : 1 Fiction<br>
		<br>
		        Neo Combine 1 : 0 Musashi<br>
		        Neo Combine 0 : 1 Jdanzi<br>
		        Neo Combine 1 : 0 Flibby Longshanks<br>
		        Neo Combine 1 : 0 Oathmaster<br>
		        Neo Combine 0 : 1 Jacob<br>
		        Neo Combine 0 : 1 Pyroka<br>
		<br>
		        GiftedMachine 0 : 1 Kaos<br>
		        GiftedMachine 1 : 0 Captain Hellbat<br>
		        GiftedMachine 0 : 1 Fiction<br>
		        GiftedMachine 1 : 0 Scarecrow<br>
		        GiftedMachine 0 : 1 Franky<br>
		        GiftedMachine 1 : 0 Oathmaster<br>
		<br>
		        Scarecrow 0 : 1 Venaqus<br>
		        Scarecrow 0 : 1 Oathmaster<br>
		        Scarecrow 1 : 0 Captain Hellbat<br>
		        Scarecrow 0 : 1 GiftedMachine<br>
		        Scarecrow 1 : 0 Musashi<br>
		        Scarecrow 1 : 0 Dixio<br>
		<br>
		        Jdanzi 1 : 0 Oathmaster<br>
		        Jdanzi 1 : 0 Neo Combine<br>
		        Jdanzi 0 : 1 Venaqus<br>
		        Jdanzi 1 : 0 Franky<br>
		        Jdanzi 0 : 1 SenpaiTorpidDow<br>
		<br>
		        Oathmaster 0 : 1 Jdanzi<br>
		        Oathmaster 1 : 0 Scarecrow<br>
		        Oathmaster 1 : 0 PowerK<br>
		        Oathmaster 0 : 1 Neo Combine<br>
		        Oathmaster 0 : 1 The Von<br>
		        Oathmaster 0 : 1 GiftedMachine<br>
		<br>
		        Dixio 1 : 0 Flibby Longshanks<br>
		        Dixio 0 : 1 Kaos<br>
		        Dixio 0 : 1 Jacob<br>
		        Dixio 0 : 1 Troyd<br>
		        Dixio 1 : 0 Orsox<br>
		        Dixio 0 : 1 Scarecrow<br>
		<br>
		        Captain Hellbat 0 : 1 NaumMW<br>
		        Captain Hellbat 0 : 1 GiftedMachine<br>
		        Captain Hellbat 0 : 1 Scarecrow<br>
		        Captain Hellbat 0 : 1 St.Akardi<br>
		        Captain Hellbat 1 : 0 Orsox<br>
		<br>
		        Flibby Longshanks 0 : 1 Dixio<br>
		        Flibby Longshanks 0 : 1 Neo Combine<br>
		        Flibby Longshanks 1 : 0 Smeg4brainsuk<br>
		        Flibby Longshanks 0 : 1 Fiction<br>
		        Flibby Longshanks 0 : 1 Mur<br>
		<br>
		        St.Akardi 0 : 1 Mixu<br>
		        St.Akardi 0 : 1 rntpln<br>
		        St.Akardi 0 : 1 Mur<br>
		        St.Akardi 1 : 0 Captain Hellbat<br>
		        St.Akardi 1 : 0 Smeg4brainsuk<br>
		        St.Akardi 0 : 1 The Von<br>
		<br>
		        PowerK 0 : 1 BnHtimmah<br>
		        PowerK 0 : 1 Franky<br>
		        PowerK 0 : 1 Oathmaster<br>
		        PowerK 1 : 0 Musashi<br>
		        PowerK 0 : 1 Troyd<br>
		        PowerK 1 : 0 Smeg4brainsuk<br>
		<br>
		        Mixu 1 : 0 St.Akardi<br>
		        Mixu 0 : 1 Pyroka<br>
		        Mixu 0 : 1 The Von<br>
		        Mixu 1 : 0 Orsox<br>
		        Mixu 0 : 1 Xyr0N<br>
		<br>
		        BnHtimmah 1 : 0 PowerK<br>
		        BnHtimmah 1 : 0 Claera<br>
		        BnHtimmah 0 : 1 SenpaiTorpidDow<br>
		<br>
		        Kaos 1 : 0 GiftedMachine<br>
		        Kaos 1 : 0 Dixio<br>
		        Kaos 0 : 1 Xyr0N<br>
		<br>
		        Orsox 0 : 1 The Von<br>
		        Orsox 1 : 0 Smeg4brainsuk<br>
		        Orsox 0 : 1 Claera<br>
		        Orsox 0 : 1 Mixu<br>
		        Orsox 0 : 1 Dixio<br>
		        Orsox 0 : 1 Captain Hellbat<br>
		<br>
		        Musashi 0 : 1 Neo Combine<br>
		        Musashi 0 : 1 Troyd<br>
		        Musashi 0 : 1 Smeg4brainsuk<br>
		        Musashi 0 : 1 PowerK<br>
		        Musashi 0 : 1 Scarecrow<br>
		<br>
		        Smeg4brainsuk 0 : 1 Pyroka<br>
		        Smeg4brainsuk 0 : 1 Orsox<br>
		        Smeg4brainsuk 1 : 0 Musashi<br>
		        Smeg4brainsuk 0 : 1 Flibby Longshanks<br>
		        Smeg4brainsuk 0 : 1 St.Akardi<br>
		        Smeg4brainsuk 0 : 1 PowerK<br>
		<br>
		        rntpln 0 : 1 Claera<br>
		        rntpln 1 : 0 St.Akardi<br>
		        rntpln 0 : 1 Franky<br>
		<br>
		        Godoksa 1 : 0 benderivan<br>
		        Godoksa 0 : 1 Xyr0N<br>
		<br>
		        benderivan 0 : 1 Godoksa<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">ESL Fall Tournanent #4</h3>
	<p style="padding-left:5em">
		        SenpaiTorpidDow 1 : 0 Seemann Oome<br>
		        SenpaiTorpidDow 1 : 0 Jdanzi<br>
		        SenpaiTorpidDow 1 : 0 NaumMW<br>
		        SenpaiTorpidDow 1 : 0 Xyr0N<br>
		        SenpaiTorpidDow 1 : 0 Venaqus<br>
		        SenpaiTorpidDow 1 : 0 Godoksa<br>
		<br>
		        Venaqus 1 : 0 Pluck<br>
		        Venaqus 1 : 0 Godoksa<br>
		        Venaqus 1 : 0 Pyroka<br>
		        Venaqus 1 : 0 Seemann AIOBE<br>
		        Venaqus 0 : 1 SenpaiTorpidDow<br>
		        Venaqus 1 : 0 Jdanzi<br>
		<br>
		        Xyr0N 1 : 0 Claera<br>
		        Xyr0N 1 : 0 Pluck<br>
		        Xyr0N 1 : 0 rntpln<br>
		        Xyr0N 0 : 1 SenpaiTorpidDow<br>
		        Xyr0N 1 : 0 NaumMW<br>
		        Xyr0N 1 : 0 Jacob<br>
		<br>
		        Godoksa 1 : 0 Hans Kater Gunter<br>
		        Godoksa 0 : 1 Venaqus<br>
		        Godoksa 1 : 0 Franky<br>
		        Godoksa 1 : 0 Pyroka<br>
		        Godoksa 1 : 0 Jacob<br>
		        Godoksa 0 : 1 SenpaiTorpidDow<br>
		<br>
		        Jdanzi 1 : 0 UpAllNight<br>
		        Jdanzi 0 : 1 SenpaiTorpidDow<br>
		        Jdanzi 1 : 0 Fiction<br>
		        Jdanzi 1 : 0 rntpln<br>
		        Jdanzi 1 : 0 Seemann AIOBE<br>
		        Jdanzi 0 : 1 Venaqus<br>
		<br>
		        Seemann AIOBE 1 : 0 Orsox<br>
		        Seemann AIOBE 1 : 0 Franky<br>
		        Seemann AIOBE 1 : 0 Jacob<br>
		        Seemann AIOBE 0 : 1 Venaqus<br>
		        Seemann AIOBE 0 : 1 Jdanzi<br>
		        Seemann AIOBE 1 : 0 Fiction<br>
		<br>
		        Pyroka 1 : 0 Semillon<br>
		        Pyroka 1 : 0 Scarecrow<br>
		        Pyroka 0 : 1 Venaqus<br>
		        Pyroka 0 : 1 Godoksa<br>
		        Pyroka 1 : 0 Shaders...ellipses<br>
		        Pyroka 1 : 0 NaumMW<br>
		<br>
		        Claera 0 : 1 Xyr0N<br>
		        Claera 1 : 0 Semillon<br>
		        Claera 1 : 0 St.Akardi<br>
		        Claera 0 : 1 NaumMW<br>
		        Claera 1 : 0 Scarecrow<br>
		        Claera 1 : 0 Seemann Oome<br>
		<br>
		        NaumMW 1 : 0 Fiction<br>
		        NaumMW 1 : 0 GiftedMachine<br>
		        NaumMW 0 : 1 SenpaiTorpidDow<br>
		        NaumMW 1 : 0 Claera<br>
		        NaumMW 0 : 1 Xyr0N<br>
		        NaumMW 0 : 1 Pyroka<br>
		<br>
		        Pluck 0 : 1 Venaqus<br>
		        Pluck 0 : 1 Xyr0N<br>
		        Pluck 1 : 0 Seemann SEGFAULT<br>
		        Pluck 1 : 0 Franky<br>
		        Pluck 0 : 1 Seemann Oome<br>
		        Pluck 1 : 0 Scarecrow<br>
		<br>
		        Seemann Oome 0 : 1 SenpaiTorpidDow<br>
		        Seemann Oome 1 : 0 Seemann SEGFAULT<br>
		        Seemann Oome 0 : 1 Shaders...ellipses<br>
		        Seemann Oome 1 : 0 St.Akardi<br>
		        Seemann Oome 1 : 0 Pluck<br>
		        Seemann Oome 0 : 1 Claera<br>
		<br>
		        Jacob 1 : 0 GiftedMachine<br>
		        Jacob 1 : 0 Hans Kater Gunter<br>
		        Jacob 0 : 1 Seemann AIOBE<br>
		        Jacob 1 : 0 Shaders...ellipses<br>
		        Jacob 0 : 1 Godoksa<br>
		        Jacob 0 : 1 Xyr0N<br>
		<br>
		        Franky 1 : 0 Seemann SEGFAULT<br>
		        Franky 0 : 1 Seemann AIOBE<br>
		        Franky 0 : 1 Godoksa<br>
		        Franky 0 : 1 Pluck<br>
		        Franky 1 : 0 St.Akardi<br>
		        Franky 1 : 0 Shaders...ellipses<br>
		<br>
		        Fiction 0 : 1 NaumMW<br>
		        Fiction 1 : 0 UpAllNight<br>
		        Fiction 0 : 1 Jdanzi<br>
		        Fiction 1 : 0 GiftedMachine<br>
		        Fiction 1 : 0 Semillon<br>
		        Fiction 0 : 1 Seemann AIOBE<br>
		<br>
		        St.Akardi 1 : 0 Scarecrow<br>
		        St.Akardi 0 : 1 rntpln<br>
		        St.Akardi 0 : 1 Claera<br>
		        St.Akardi 0 : 1 Seemann Oome<br>
		        St.Akardi 0 : 1 Franky<br>
		        St.Akardi 1 : 0 GiftedMachine<br>
		<br>
		        Shaders...ellipses 0 : 1 rntpln<br>
		        Shaders...ellipses 1 : 0 Orsox<br>
		        Shaders...ellipses 1 : 0 Seemann Oome<br>
		        Shaders...ellipses 0 : 1 Jacob<br>
		        Shaders...ellipses 0 : 1 Pyroka<br>
		        Shaders...ellipses 0 : 1 Franky<br>
		<br>
		        Scarecrow 0 : 1 St.Akardi<br>
		        Scarecrow 0 : 1 Pyroka<br>
		        Scarecrow 1 : 0 Orsox<br>
		        Scarecrow 1 : 0 Seemann SEGFAULT<br>
		        Scarecrow 0 : 1 Claera<br>
		        Scarecrow 0 : 1 Pluck<br>
		<br>
		        GiftedMachine 0 : 1 Jacob<br>
		        GiftedMachine 0 : 1 NaumMW<br>
		        GiftedMachine 1 : 0 Semillon<br>
		        GiftedMachine 0 : 1 Fiction<br>
		        GiftedMachine 1 : 0 Seemann SEGFAULT<br>
		        GiftedMachine 0 : 1 St.Akardi<br>
		<br>
		        rntpln 1 : 0 Shaders...ellipses<br>
		        rntpln 1 : 0 St.Akardi<br>
		        rntpln 0 : 1 Xyr0N<br>
		        rntpln 0 : 1 Jdanzi<br>
		<br>
		        Seemann SEGFAULT 0 : 1 Franky<br>
		        Seemann SEGFAULT 0 : 1 Seemann Oome<br>
		        Seemann SEGFAULT 0 : 1 Pluck<br>
		        Seemann SEGFAULT 0 : 1 Scarecrow<br>
		        Seemann SEGFAULT 0 : 1 GiftedMachine<br>
		<br>
		        Semillon 0 : 1 Pyroka<br>
		        Semillon 0 : 1 Claera<br>
		        Semillon 0 : 1 GiftedMachine<br>
		        Semillon 1 : 0 Orsox<br>
		        Semillon 0 : 1 Fiction<br>
		<br>
		        Orsox 0 : 1 Seemann AIOBE<br>
		        Orsox 0 : 1 Shaders...ellipses<br>
		        Orsox 0 : 1 Scarecrow<br>
		        Orsox 0 : 1 Semillon<br>
		<br>
		        Hans Kater Gunter 0 : 1 Godoksa<br>
		        Hans Kater Gunter 0 : 1 Jacob<br>
		<br>
		        UpAllNight 0 : 1 Jdanzi<br>
		        UpAllNight 0 : 1 Fiction<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">ESL Fall Tournament Global Final</h3>
	<p style="padding-left:5em">
		        Saturas 2 : 1 SenpaiTorpidDow<br>
		        Saturas 2 : 1 Noah<br>
		<br>
		        Noah 2 : 1 Aicad<br>
		        Noah 1 : 2 Saturas<br>
		<br>
		        SenpaiTorpidDow 1 : 2 Saturas<br>
		<br>
		        Aicad 1 : 2 Noah<br>
		<br>
	</p>
	<h3 style="font-size: 1rem">The First Battle of Ypres</h3>
	<p style="padding-left:5em">
		        Aicad 2 : 0 No02<br>
		        Aicad 2 : 0 Seemann AIOBE<br>
		        Aicad 3 : 2 Noah<br>
		<br>
		        Noah 2 : 0 Bobito<br>
		        Noah 2 : 0 Claera<br>
		        Noah 2 : 3 Aicad<br>
		<br>
		        Seemann AIOBE 2 : 0 HIDZEN<br>
		        Seemann AIOBE 2 : 0 Destructosam<br>
		        Seemann AIOBE 0 : 2 Aicad<br>
		        Seemann AIOBE 2 : 0 Claera<br>
		<br>
		        Claera 2 : 1 Fiction<br>
		        Claera 0 : 2 Noah<br>
		        Claera 0 : 2 Seemann AIOBE<br>
		<br>
		        Bobito 2 : 0 Seemann Oome<br>
		        Bobito 0 : 2 Noah<br>
		<br>
		        Destructosam 0 : 2 Seemann AIOBE<br>
		<br>
		        Fiction 2 : 0 Nobby<br>
		        Fiction 1 : 2 Claera<br>
		<br>
		        No02 2 : 0 LemonPi<br>
		        No02 0 : 2 Aicad<br>
		<br>
		        HIDZEN 0 : 2 Seemann AIOBE<br>
		<br>
		        LemonPi 0 : 2 No02<br>
		<br>
		        Nobby 0 : 2 Fiction<br>
		<br>
		        Seemann Oome 0 : 2 Bobito<br>
		<br>
	</p>
	</div>
{% endblock content %}


