{% extends "ALIGULAC/base.html" %}
{% block content %}
	<div class="container" style="padding-right: 150px; padding-left: 150px">
		{% for player, archive in players.items %}
		{% if player != 'id' %}
		<h2 style="padding-top: 20px;
					  font-size:35px;
					  font-weight: 400;
					  border-style: none none solid none;
					  border-width: 0.05em;
					  border-color: #e7e7e7;
					  font-variant: small-cap;
					  font-family: 'Roboto', sans-serif;
					  text-align: left">{{ player }}</h2>
		{% for tournament, matches in archive.items %}
		<table class="table table-striped table-hover">
			<col style="width:10%; text-align: right">
			<col style="width:30%; text-align: right">
			<col style="width:20%; text-align: center;">
			<col style="width:30%">
			<col style="width:10%">
			<tr style="font-weight: normal">
				<th colspan="5" style="text-align: center">{{ tournament }}</th>
			</tr>
			{% for game in matches %}
			<tr>
				{% for item in game %}
				<td>{{ item }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		{% endfor %}
		{% endif %}
		{% endfor %}
	</div>
{% endblock content %}
